$sidebar-color : #333d43;
$sidebar-item-hover : #404c52;
$sidebar-item-active: #64777d;

.sidebar {
  background-color: $sidebar-color;
  height: calc(100vh - 56px);
  color: white;
}

.sidebar .listGroupItem {
  background-color: $sidebar-color;
  border: none;
  cursor: pointer;
}

.sidebar .listGroupItem:hover {
  background-color: $sidebar-item-hover;
}

.sidebar .active {
  background-color: $sidebar-item-active;
}

.sidebar .active:hover {
  background-color: $sidebar-item-active;
}
